<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyNetChat Alpha</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Network Messenger</h1>
        <ul class="nav nav-tabs mt-4">
            <li class="nav-item">
                <a class="nav-link" href="scan.html">Scanning</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="messages.html">Messages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="file_transfer.html">File Transfer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="mail.html">Mail</a>
            </li>
        </ul>
        <div class="content mt-3">
            <p>Welcome to the PyNetChat application, please select a tab to start chatting, file transfer, file recieving, etc.</p>
        </div>
    </div>
</body>
</html>
