{% extends 'base.html' %}

{% block content %}
<h2>Scanning</h2>
<p>Scanning the network for active users...</p>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>IP Address</th>
                <th>Hostname</th>
                <th>Vendor</th>
            </tr>
        </thead>
        <tbody>
            {% for ip in scanned_ips %}
                <tr>
                    <td>{{ ip }}</td>
                    <td>{{ nmap_results[ip]['vendor'] }}</td>
                    <td>{{ nmap_results[ip]['vendor'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}